<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<title>麦哆咪</title>
		<link rel="stylesheet" type="text/css" href="css/css.css">
		<script src="http://api.map.baidu.com/api?type=quick&ak=4ae721a05484fca11cb57c1a33b98b30&v=1.0" type="text/javascript"></script>
	</head>
	<body>
		<div id="mainContent" class="mainContent">
		  <header>
		    <h1>
			  <div class="btn-slide-left"><img src="img/home-mo.png" width="58" height="48"></div>
		    充值记录</h1>
		  </header>
		  
		  <main>
		  <div class="titleB">2016年11月<div class="t-number">消费：¥200.00</div></div>
		  <div class="r-record">
		  微信充值<br/><font>支付成功</font><br/><span>2016-11-14</span><div class="mount">¥100.00</div>
		  </div>
		  <div class="r-record">
		  微信充值<br/><font>支付成功</font><br/><span>2016-11-14</span><div class="mount">¥100.00</div>
		  </div>
		  <div class="titleB">2016年11月<div class="t-number">消费：¥200.00</div></div>
		  <div class="r-record">
		  微信充值<br/><font>支付成功</font><br/><span>2016-11-14</span><div class="mount">¥100.00</div>
		  </div>		  </main>
		</div>
		<script type="text/javascript">
			if(!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)){
				document.getElementById('mainContent').style.width = '320px';
				document.getElementById('mainContent').className="mainContent diyScroll";
			}
		</script>
	</body>
</html>
