<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="rootConsole" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %c [%t] %-5p %x - %m%n" />
		</layout>
	</appender>

	<appender name="rootFileApp" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="info" />
		<param name="File" value="${catalina.base}/logs/zjt-info.log" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyy-MM-dd HH:mm:ss} %c [%t] %-5p %x - %m%n" />
		</layout>
	</appender>

	<appender name="rootWarn" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="warn" />
		<param name="File" value="${catalina.base}/logs/zjt-warn.log" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %c [%t] %-5p %x - %m%n" />
		</layout>
	</appender>

	<!-- 用于打印错误日志 -->
	<appender name="errorFileApp" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="error" />
		<param name="File" value="${catalina.base}/logs/zjt-error.log" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %c [%t] %-5p %x - %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="info" />
		<appender-ref ref="rootConsole" />
		<appender-ref ref="rootFileApp" />
		<appender-ref ref="errorFileApp" />
		<appender-ref ref="rootWarn" />
	</root>

</log4j:configuration>